.dragzone-container {
  /* border: 2px solid #6c757d; */
  border-radius: 35px;
  background-color: #CD3939;
  padding: 5px;
  min-width: 320px;
  max-width: 400px;
  height: 350px;
  margin: auto;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  overflow-y: auto;
}

.dragzone-title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat";
}

.dragzone-cards {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 10px; */
  justify-content: center;
  align-items: center;
}

.draggable-card {
  background-color: #CD3939;
  /* border: 1px solid #d1d5db; */
  border-radius: 8px;
  /* padding: 10px; */
  /* text-align: center; */
  /* width: 300px; */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  height: 60px;
  width: 100%;
  cursor: grab;
  flex-direction: row;
  color: #d1d5db;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
}

.draggable-card-name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.card-image-drag {
  width: 18%;
  /* height: 8%; */
  object-fit: cover;
  float: left;
}

.card-image-container {
  bottom: 0;
  left: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 25px;
  margin: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 25px;
  margin: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* Visible State */
.side-container.visible {
  transform: translateX(-300px); /* Slide into view */
}

.cost-filter-button {
  padding:"10px";
  background-color: #CD3939;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: "Montserrat";
}

.score-filter-button{
  padding:"10px";
  background-color: #CD3939;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: "Montserrat";
}