@import url('https://fonts.googleapis.com/css?family=Montserrat');


.navbar {
    width: 100vw;
    height: 10vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: transparent;
    position: fixed;
    z-index: 1;
    top: 0;

}
.dream-logo {
    height: 5vh;
    
}
.navlist {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat";
    color: white;
    background: transparent;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ;
}