@import url('https://fonts.googleapis.com/css?family=Montserrat');

.main-display {
    height: 100vh;
    display: flex;
    justify-items: center;
    background:linear-gradient(to top, rgb(39, 0, 0), #6b0101 50%);
    background-color:#6b0101 transparent;
}
.display-container {
    display:flex;
    /* position: relative; */
    /* grid-template-rows: auto auto auto; */
    /* gap: 15px; */
    /* border: 2px solid #007bff; */
    border-radius: 15px;
    /* background-color: #1f1f1f; */
    /* background-color: #6b0101; */
    /* padding: 5px; */
    width: 100%;
    /* max-width: 900px; */
    height: 90%;
    margin: auto;
    /* box-shadow: 0px 4px 6px rgba(37, 37, 37, 0.1); */
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.display-card {
    position: relative;
    /* background-color: #c80000; */
    /* border: 1px solid #ffffff; */
    /* border-radius: 10px; */
    padding: 10px;
    text-align: center;
    width: 30%;
    height: 78%;
    cursor: grab;
    /* margin: 10px; */
    background-color:#c80000 transparent;
    background:linear-gradient(to top, black 30%, #c80000 50%);
    /* box-shadow: -8px -8px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), 10px -10px 10px rgba(0, 0, 0, 0.1), -10px 10px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.5s ease, box-shadow 0.5s ease, all 0.5s ease;
}

.display-card:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), 10px -10px 6px rgba(0, 0, 0, 0.1), 4px 0px 6px rgba(0, 0, 0, 0.1), -10px 0px 6px rgba(0, 0, 0, 0.1);
}

/* Overlay Styling */
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 15, 15, 0.2); /* Dark transparent layer */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    z-index: 1; /* Ensure it sits above the card content */
}
  
  /* Show the overlay on hover */
.display-card:hover .background-overlay {
    opacity: 1; /* Make the overlay visible */
}

/* .display-card-captain {
    position: relative;
    /* background-color: #c80000; */
    /* border: 1px solid #ffffff; */
    /* border-radius: 10px; */
    /* padding: 10px; */
    /* text-align: center;
    width: 30%;
    height: 78%;
    cursor: grab;
    /* margin: 10px; */
    /* background-color:#a37575 transparent;
    background:linear-gradient(to top, black 30%, #c80000 50%);
    box-shadow: -8px -8px 8px rgba(0, 0, 0, 0.1); */
    /* box-shadow: 10px 10px 6px rgba(180, 72, 72, 0.1), 10px -10px 6px rgba(0, 0, 0, 0.1), 4px 0px 6px rgba(0, 0, 0, 0.1), -10px 0px 6px rgba(0, 0, 0, 0.1); */
/* } */

  
.display-card-points {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    right: 25px;
    height:30%;
    width:22%;
    color: white;
    font-size: 35px;
    font-weight: 900;
    font-family: "Montserrat";
    /* background:linear-gradient(rgba(32, 32, 32, 0.7),transparent); */
    background-color:#6b0101;
    opacity: 0.9;
}

.info-button{
    position: absolute;
    top: 10px;
    left: 20px;
    border: 4px white solid;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: 10;
}

.display-card:hover .info-button{
    opacity: 1;
}

.display-card-c {
    position: absolute;
    top: 0;
    left: 25px;
    color: white;
    background-color: rgb(235, 134, 2);
    font-size: 45px;
    left: 20px;
    top: 20px;
    height: 60px;
    width: 75px;
    font-weight: bolder;
    align-content: center;
    font-family: "Montserrat";
}

.big{
    width: 33%;
    height: 88%;
    z-index: 2;
}

.display-card-vc {
    position: absolute;
    top: 0;
    left: 25px;
    color: white;
    background-color: rgb(2, 157, 235);
    font-size: 45px;
    left: 20px;
    top: 20px;
    height: 60px;
    width: 75px;
    font-weight: 900;
    align-content: center;
    font-family: "Montserrat";
}


.display-card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    bottom: 0px;
}
  
.display-card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45%;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.6); */
    /* padding: 10px; */
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-direction: column; */
    justify-content: end;
    align-items: center;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size:40px;
    font-weight: 900;
    font-family: "Montserrat";
    background:linear-gradient(to top,black 20%,rgba(22, 0, 0, 0.7) 70%, transparent);
    background-color:#c80000 transparent;
}

.display-card-overlay-row {
    display: flex;
    /* border: 2px solid yellow; */
    border-radius: 15px;
    height: 30%;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.overlay-row-section {
    font-size: 25px;
    font-weight: 900;
    border: 4px solid rgb(255, 145, 0);
    width: 33%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
/* .divider {
    width: 2px;
    background-color: yellow;
} */
  
.display-card-team-logo {
    width: 80%;
    height: 30%;
    object-fit: cover;
}

.display-expanded-card-team-logo {
    width: 100%;
    height: 70%;
    object-fit: cover;
}



.display-card-expanded {
    width: 70%;
    height: 90%;
    background-color:#c80000 transparent;
    background:linear-gradient(to top, black 30%, #c80000 50%);
    z-index: 100;

}

.display-card-top-left {
    top: 0px;
    left: 0px;
    width: 48%;
    height: 50%;
    position: absolute;
    object-fit: cover;
    /* background-color: white; */
    /* justify-content: space-evenly;
    align-content: space-evenly; */
}

.display-card-expanded-player-image {
    width: 70%;
    height: 100%;
    object-fit: contain;
    /* bottom: 0px; */
}

.display-card-expanded-points {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    right: 25px;
    height: 100%;
    width:25%;
    color: white;
    font-size: 45px;
    font-weight: 900;
    font-family: "Montserrat";
    background:linear-gradient(rgba(0, 0, 0, 0.7),transparent);
    background-color:#c80000 transparent;
    opacity: 0.9;
}

.dream11bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.display-card-expanded-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45%;
    width: 70%;
    /* background: rgba(0, 0, 0, 0.6); */
    /* padding: 10px; */
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-direction: column; */
    justify-content: end;
    align-items: center;
    transition: opacity 0.3s ease;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    font-size:42px;
    font-weight: 900;
    font-family: "Montserrat";
    background:linear-gradient(to top,rgb(10, 10, 10) 2%,rgba(15, 15, 15, 0.7) 10%, transparent);
    background-color:#c80000 transparent;
}

.display-card-expanded-c {
    position: absolute;
    top: 0;
    left: 25px;
    color: white;
    background-color: rgb(235, 134, 2);
    font-size: 45px;
    left: 20px;
    top: 20px;
    height: 60px;
    width: 75px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-family: "Montserrat";
}

.display-card-expanded-vc {
    position: absolute;
    top: 0;
    left: 25px;
    color: white;
    background-color: rgb(2, 157, 235);
    font-size: 45px;
    left: 20px;
    top: 20px;
    height: 60px;
    width: 75px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
}


.display-card-bottom-left {
    bottom: 0px;
    left: 0px;
    width: 48%;
    height: 50%;
    position: absolute;
    object-fit: cover;
    /* background-color: white; */
    /* justify-content: space-evenly;
    align-content: space-evenly; */
}

.stats {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 25px;
    height: 85%;
    width:27%;
    color: white;
    font-size: 45px;
    font-weight: 900;
    font-family: "Montserrat";
    opacity: 0.9;
}

.display-card-top-right {
    top: 0px;
    right: 0px;
    width: 52%;
    height: 50%;
    position: absolute;
    object-fit: cover;
    /* display: flex; */
    /* background-color: white; */
    align-items: center;
    justify-items: center;
    justify-content: center;
    /* align-content: center; */
}

.display-card-bottom-right {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 52%;
    height: 50%;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}

.quote-card-1 {
    position: relative;
    height: 80%;
    width: 35%;
    background:linear-gradient(to right, rgba(106, 1, 192, 0.7), #c80000);
    background-color:#c80000 transparent;
    border-radius: 15px;
    border: 4px solid black;
}

.closeButton {
    position: absolute;
    top: -30px;
    right: -20px;
    background: none;
    border: none;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    z-index: 10;
}