
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.comparison-section {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 5vh;
    padding-top: 0;
    padding-right: 0;
    position: absolute;
    bottom: 0;
    font-family: "Montserrat";
    

}

.comparison-wrapper {
    height: 100%;
    width: 100%;
    background: #1A1A1A;
    border-radius: 1vh;
    overflow: clip;
    display: flex;
    flex-direction: column;

}

.row1 {
    height: 50%;
    
    width: 100%;
    display: flex;
}

.row2 {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.selector-container {
    width: 50%;
    height: 100%;
    padding: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.selector-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    background: #202020;
    border-radius: 1vh;

}

.selector-top {
    height: 40%;
    width: 100%;
    display: flex;
    background: rgb(0, 0, 0);
    padding: 1vh;
    margin-top: 2vh;

}

.selector-bottom{
    height: 40%;
    width: 100%;
    display: flex;
    background: rgb(0, 0, 0);
    padding: 1vh;
    margin-top: 2vh;
}
.sel-col-1 {
    height: 100%;
    width: fit-content;
    display: flex;
}


.compare-title {
    font-size: 100%;
    font-family: "Montserrat";
    font-weight: 600;
    color: white;
    text-align: center;
}

.radar-container {
    height: 100%;
    width: 50%;
    padding: 2vh;
}


.stats-title {
    color: white;
    font-weight: 600;
    margin: 2vh;
}